@import "./geral.css";

.menu-secundario {
  background-color: var(--cor-primaria);
  margin: 0 auto;
}

.menu-secundario-info {
  display: flex;
  justify-content: flex-end;
}
.menu-secundario-info ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
.menu-secundario-info ul li:first-child {
  position: relative;
}
.menu-secundario-info ul li:first-child::after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: white;
  display: inline-block;
  position: absolute;
  right: -8px;
  top: 4px;
}
.menu-secundario-info ul li:nth-child(2) {
  position: relative;
}
.menu-secundario-info ul li:nth-child(2):after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: white;
  display: inline-block;
  position: absolute;
  right: -8px;
  top: 4px;
}

.menu-principal {
  font-family: var(--fonte-corpo);
  font-size: 18px;
  font-style: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  color: #000;
  font-weight: 600;
  padding: 11px 0;
}
.menu-principal ul {
  display: flex;
  gap: 40px;
}
.menu-principal ul li > a {
  -webkit-font-smoothing: antialiased;
  &:hover {
    color: var(--cor-detaque);
  }
}
.menu-principal nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.btn-agenda a {
  display: inline-block;
  background-color: var(--cor-detaque);
  padding: 14px 35px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  font-variant: normal;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background-color: var(--cor-detaque-hover);
    transition: 0.3s;
  }
}

@media (max-width: 1630px) {
  .container {
    padding: 5px 150px;
  }
}

@media (max-width: 1430px) {
  .container {
    padding: 5px 100px;
  }
}

@media (max-width: 1230px) {
  .menu-principal {
    font-size: 11px;
  }
  .menu-principal ul {
    gap: 20px;
  }
}
